body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-bottom: auto;
    margin: 10px;
}

h1 {
    color: #3434ad;
}

.grille {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 50px 50px 50px 50px;
    align-items: center;
    width: 1500px;
    height: 200px;
    /*border: solid;
    border-color: black;*/
}

p#niv {
    font-weight: bold;
}

p#niv:nth-child(1) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 752px;
    height: 50px;
    /*border-left: solid;
    border-top: solid; */
    align-items: center;
}

p#com {
    font-weight: bold;
}

p#com:nth-child(2) {
    display: grid;
    width: 747px;
    height: 50px;
    border-left: none;
    align-items: center;
}

p#py:nth-child(3) {
    width: 501px;
    height: 50px;
    /*border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-top: solid;*/
    display: flex;
    align-items: center;
    background-color: #98e1f3;
}

p#avance:nth-child(4) {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 97px;
    /*border-right: solid;
    border-bottom: solid;
    border-top: solid;*/
    align-items: center;
    background-color: #98e1f3;
    display: flex;
    align-items: center;
}

p#js:nth-child(5) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 501px;
    height: 50px;
    /*border-bottom: solid;
    border-right: solid;*/
    align-items: center;
}

p#bdd:nth-child(6) {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 4;
    width: 501px;
    height: 50px;
    /*border-right: solid;
    border-top: solid;
    border-bottom: solid;*/
    align-items: center;
    background-color: #98e1f3;
}

p#inter:nth-child(7) {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 4;
    height: 50px;
    /*border-right: solid;
    border-top: solid;
    border-bottom: solid;*/
    align-items: center;
    background-color: #98e1f3;
}

p#com1:nth-child(8) {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    width: 747px;
    height: 50px;
    /*border-bottom: solid;
    border-bottom: solid;
    border-top: solid;
    border-left: none;*/
    align-items: center;
    background-color: #98e1f3;
}

p#com2:nth-child(9) {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 3;
    width: 747px;
    height: 50px;
    /*border-bottom: solid;
    border-left: none;*/
    align-items: center;
}

p#com3:nth-child(10) {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 4;
    width: 747px;
    height: 50px;
    align-items: center;
    /*border-left: none;
    border-bottom: solid;*/
}